# Ignore internal documentation folder
docs/internal/
GEMINI.md

# JS files
node_modules/
out/
.vscode/

# macOS
# General system files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon?
._*

# volume and indexing
.Spotlight-V100
.Trashes
__MACOSX/
.fseventsd/
.DocumentRevisions-V100

